.watch {
    max-width: 1296px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: none;
}
.watch__wrap {
    display: flex;
    padding-top: 7.5rem;
}
.watch__movie {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.watch__movie-film {
    border: none;
    width: 100%;
    height: 600px;
}
.watch__content {
    color: #fff;
}
.watch__title,
.watch__episode {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}
.watch__homepage {
    cursor: pointer;
    text-decoration: dashed;
}
.watch__homepage:hover {
    color: red;
}
.watch__seemore {
    margin: 0 0 20px 12px;
    max-width: 350px;
    display: flex;
    flex-grow: 1;
    max-height: 800px;
    overflow-y: scroll;
}

.watch__content-item {
    width: 50px;
    margin: 10px 20px 0 0;
    border-radius: 5px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 12px;
    cursor: pointer;
}

.watch__similar .similar {
    padding: 0;
    margin-top: 15px;
}
